*{
    padding: 0;
    margin: 0;
    
}
body{
    font-family:sans-serif;
}
.header{
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(60, 253, 60);
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}
.btnInfo{
    position: fixed;
    z-index: 1;
    width: 550px;
    height: 450px;
    top: 25vh;
    left: 30vw;
    background-color: rgb(60, 253, 60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 3s;
}
.show{
    display: none;
    transition: all 3s;
}
span{
    position: relative;
    left: 10vh;
    font-family: serif;
    font-size: 35px;
    width: 120px;
}
.list {
    position: relative;
    right: 10vh;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.list li {
    list-style: none;
    font-family: serif;
    font-size: 25px;
    color: black;
}
.list li button{
    padding: 3px 6px;
    font-family: serif;
    font-size: 25px;
    color: black;
    background-color: transparent;
    border-radius: 15px;
}
h1{
    position: relative;
    top: 40px;
    font-family: serif;
    font-size: 40px;
    text-align: center;

}
section{
    position: relative;
    top: 120px;
    left: 0;
    margin: 10vw;
    width: auto;
    height: auto;

}
.info{
    width: 80vw;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(60, 253, 60);
}
.info ul {
    
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}