<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>ApiFood</title>
</head>
<body>
        <header class="header">
            <span>ApiFood</span>
            <ul class="list">
                <li><button id="btn">Informacion</button></li>
            </ul>         
        </header>
        <main>
            <div class="btnInfo show">
                <h3>Informacion util</h3>
                <p>Esta APIs es de uso libre y para fines practicos</p><br>
                <p>Con ella podras hacer uso de Peticiones:</p><br>
                <div>
                    <ul>
                        <div>GetOne</div>
                        <div>GetAll</div>
                        <div>Update</div>
                        <div>Delete Esta Peticiones no esta Habilitada</div>
                    </ul>

                </div>
            </div>
            <h1>Bienvenido a la Api sobre comidas de la Region</h1>
            <section><% AllFoods.forEach(AllFood => { %>
                <div class="info">
                <ul> 
                    <h3>Pais: <%- AllFood.pais %></h3>
                    <h4>Comida tipica: <%- AllFood.comida.nombre %></h4> 
                    <h4>Region donde es consumida: <%- AllFood.comida.region %></h4> 
                    <p>Descripcion de plato: <%- AllFood.comida.descripcion %></p> 

                </ul>
               
                </div>
                <% }) %></section>
        </main>
        <script src="script.js"defer></script>
</body>
</html>